.form-check-label {
  width: 100%;
  cursor: pointer;
}

.exam-column .hover-border {
  border: 2px solid transparent; /* Invisible border by default */
  transition: border-color 0.3s ease; /* Smooth transition for the border */
  padding-left: 2.2em;
}

.exam-column .hover-border:hover {
  border-color: #007bff; /* Example solid blue border color on hover */
}

button.import-button:hover {
  background-color: var(--bs-blue);
}

button.export-button:hover {
  background-color: var(--bs-gray-500);
}
