/* CSS file */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s forwards; /* or your preferred timing */
}

.edit-link {
  width: 107.4px;
}
