.editIcon {
  padding-bottom: 2px;
  width: 18px;
  height: 21px;
}

.deleteButton {
  padding-bottom: 11px;
}

label[for="show-All-Explanations"]:hover,
label[for="show-All-Answers"]:hover {
  text-decoration: underline;
  color: rgb(110, 168, 254);
}
