#italic-button {
  padding: 0.25rem 0.75rem;
}

.file-upload {
  padding-right: 1.75rem;
}

.question-img {
  padding-right: 0.3rem;
}

.sticky-top-custom {
  position: sticky;
  top: 57px;
  z-index: 920; /* Ensures it stays on top of other content if needed */
}
